header {
  display: grid;
  grid-template-columns: auto auto;
  height: 7%;
}

div {
  font-size: 40px;
  justify-self: start;
  align-self: center;
}

nav {
  justify-self: end;
}

nav a {
  margin-left: 5px;
  justify-content: center;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  border-radius: 4px;
}

svg {
  color: black;
  width: 50px;
}

@media screen and (max-width: 500px) {
  div {
    font-size: 25px;
    align-self: center;
  }
  svg {
    width: 30px;
  }

}
