<div class="container">
  <div class="settings-text">Vibration</div>
  <mat-slide-toggle disabled></mat-slide-toggle>

  <div class="settings-text">Show speed limit</div>
  <mat-slide-toggle disabled></mat-slide-toggle>

  <div class="settings-text">Signal tone</div>
  <mat-slide-toggle disabled></mat-slide-toggle>

  <div class="settings-text">Accident recognition</div>
  <mat-slide-toggle disabled></mat-slide-toggle>

  <div class="settings-text">Vehicle type</div>
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="car" checked>Car</mat-button-toggle>
    <mat-button-toggle value="truck" disabled>Truck</mat-button-toggle>
  </mat-button-toggle-group>

  <div *ngIf="accidentRecognition" class="emergency-contact">Emergency contact:</div>
  <div *ngIf="accidentRecognition" class="emergency-label">Name:</div>
  <input *ngIf="accidentRecognition" type="text" name="spind" value="">
  <div *ngIf="accidentRecognition" class="emergency-label">Phone:</div>
  <input *ngIf="accidentRecognition" type="text" name="spind" value="">
</div>
