/*@font-face {
  font-family: SpeedLimitFont;
  src: url('../../data/DIN1451/din1451a.ttf')
  format("truetype");
}*/

.container {
  /*--gruen: #99EEA4;
  --rot: #fe6868;
  --gelb: #eeee99;
  --settings-green: #11bf28;
  --settings-red: #ff3737;*/
  background-color: white;
  margin-top: 20px;
  /*font-family: 'Roboto';*/
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 10px;
  font-size: 25px;
  max-width: 600px;
}

/* Hide default HTML checkbox */
input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.emergency-contact {
  margin-left: 10px;
  margin-top: 50px;
  margin-bottom: 10px;
  grid-column: auto / span 2;
}

input {
  height: 20px;
}

.settings-text {
  top: 50%;
  margin-left: 10px;
  align-self: center;
}

.emergency-label {
  margin-left: 20px;
}

mat-button-toggle-group {
  border: solid 1px #707070;
  border-radius: 10px;
  font-size: 15px;
  justify-self: end;
}

.mat-slide-toggle {
  align-self: center;
  position: relative;
  display: inline-block;
  width: 70px;
  height: 37px;
  justify-self: end;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #cac6c6;
}

::ng-deep .mat-slide-toggle:not(.mat-checked):not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #cac6c6;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #11bf28;
}

::ng-deep .mat-button-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #11bf28;
}

::ng-deep .mat-button-toggle-checked {
  background-color: #11bf28;
}
