.container {
  background-color: white;
  margin-top: 20px;
  /*font-family: 'Roboto';*/
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 10px;
  font-size: 25px;
  max-width: 600px;
}

input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.speed-limit-label {
  margin-left: 10px;
}

.emergency-contact {
  margin-left: 10px;
  margin-top: 50px;
  margin-bottom: 10px;
  grid-column: auto / span 2;
}

hr {
  grid-column: auto / span 2;
  height: 1px;
  width: 100%;
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,75), rgba(0,0,0,0));
}

input {
  height: 20px;
  margin-right: 34px;
}

.settings-text {
  top: 50%;
  margin-left: 10px;
  align-self: center;
}

#speedLimitValue {
  width: 100px;
  justify-self: end;
  height: 35px;
  font-size: 20px;
  background-color: var(--text-field-background-color, white);
}

.wrong-input {
  --text-field-background-color: #fe6868;
}

.right-input {
  --text-field-background-color: white;
}

.emergency-label {
  margin-left: 20px;
}

mat-button-toggle-group {
  border: solid 1px #707070;
  border-radius: 10px;
  font-size: 15px;
  justify-self: end;
  margin-right: 34px;
}

.mat-slide-toggle {
  align-self: center;
  position: relative;
  display: inline-block;
  width: 70px;
  height: 37px;
  justify-self: end;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #cac6c6;
}

::ng-deep .mat-slide-toggle:not(.mat-checked):not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #cac6c6;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #11bf28;
}

::ng-deep .mat-button-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #11bf28;
}

::ng-deep .mat-button-toggle-checked {
  background-color: #11bf28;
}
